body{
    margin:0;
    background-image: url(sky.jpg);
    background-color:#B6E1E7;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#01257D;


}
html {
    scroll-behavior:smooth;
  }
  
.container{
    background-color: rgba(255,255,255,.80);
    padding: 20px;
    display: flex;
    flex-direction: column;

    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    margin: 5px;
}
.heading{
    font-size: 30px;

}
.input{
    padding: 10px 10px;
    font-size: 14px;
    background-color: rgba(255,255,255,.70);
    border-radius: 10px;
    margin: 10px;
}
.input:hover{
    box-shadow: 0 0 8px rgba(200,110,0,.3);
    transition: all 300ms ease;
}
.input2{
    padding: 10px 10px;
    font-size: 14px;
    background-color: rgba(255,255,255,.70);
    color:#CB625F;
    margin: 10px;
}
.input2:hover{
    box-shadow: 0 0 8px rgba(200,110,0,.3);
    transition: all 300ms ease;
}
.btn{
    background-color :#3988A4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    
}
.btn:hover{
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: all 300ms ease;
}
.info-text{
    font-size: 16px;
    font-weight: 500;
    
}
.ideal{
    font-size: 16px;
    font-weight: 500;
    
}

.credit{
    text-align: right;
    color: rgba(0,0,0,.1);
}
.credit:hover{
    color: #CB625F;
    transition: all 300ms ease;

}
.hello { 
    background-color :#3988A4;
    border: none;
    padding: 3px 3px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}
.hello2 { 
    background-color :#3988A4;
    border: none;
    padding: 3px 3px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}
