* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* background-attachment: fixed;*/
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 15px 15px;
  border: none;
  outline: none;
  background-color: rgba(244, 240, 240, 0.8);
  border-radius: 8px;
  position: relative;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus, header input:hover {
  background-color: rgba(228, 244, 251, 0.6);
}

main {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.location {
  width: 100%;
  max-width: 280px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
  margin-bottom: 10px;
}

.current {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.current .temp {
  color: #FFF;
  font-size: 90px;
  font-weight: 900;
  margin: 10px 10px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.2);
}

.current .temp span {
  font-weight: 500;
}


.current .weather {
  color: #e4e5e9;
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  border-radius: 10px;
  margin: 5px;
  text-shadow: 0px 3px rgba(234, 241, 231, 0.0);
  padding: 20px 10px;
  display: block;
}


.current .weather span,
.feelslike,
.current .humidity,
.current .cloudcover,
.current .winds,
.current .sunrise,
.current .sunset
 {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: inline-block;
}
.current .weather span{
  font-size: 30px;
}
.rainfall2{color: #FFF;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: inline-block;

}
.feelslike {
  margin-right: 10px;
}

.change {
  display: none;
}

.current .winds:hover + .change {
  display: block;
  color: bisque;
  font-size: 10px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.credit {
  color: rgb(204, 203, 205);
  font-size: 15px;
  font-weight: 50;
  text-align: end;
}

#hourly-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px;
}
.forecast-buttons{
  font-size: 26px;
  font-weight: 500;
  color: bisque;
  gap:20px;
  border: 10px;
  
}
.forecast-buttons span{
display: inline-block;
border-bottom: 20px;
 
}
.forecast-buttons button {
  flex: 1; /* Equal width for each button */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.1);
  border:20px 40px;
  border-color:rgba(255,255,255,0.5);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  margin: 7px; 
}

.forecast-buttons button:focus,
.forecast-buttons button:active {
  background-color: rgba(157, 102, 211, 0.6);
 
}
.forecast-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.hourly-data {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  
  width: 100px; }
  .weather-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    vertical-align: middle; 
  }
.hour {
  font-size: 16px;
  font-weight: bold;
}
.error-message {
  background-color :rgba(234, 56, 16, 0.554) ;
  color: white; 
  padding: 10px; 
  font-size: 16px; 
  text-align: center; 
  display: none; 
  margin-bottom: 10px; 
  border-radius: 10px; 
}
.temperature {
  font-size: 20px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  margin-top: 5px;
}
